parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/

    excludePaths:
        - vendor/
        - var/
        - tests/

    phpVersion: 80400

    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
